<!DOCTYPE html>
<head>
  <title>Formily低代码设计器</title>
  <!-- href="http://cdn.zuo11.com/imgs/formily-icon.svg" -->
  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="http://cdn.zuo11.com/imgs/avatar.jpg"
  />
  <style>
    html,
    body {
      user-select: none;
      -webkit-user-select: none;
    }
  </style>
</head>
<body>
  <div id="root"></div>
  <!-- 
  <script src="https://unpkg.com/moment/min/moment-with-locales.js"></script>
  <script src="https://unpkg.com/react/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"></script>
  <script src="https://unpkg.com/antd/dist/antd-with-locales.min.js"></script>
  <script src="https://unpkg.com/antd@4.15.2/dist/antd.min.js"></script>
  <script src="
  https://cdn.jsdelivr.net/npm/@ant-design/icons@4.8.0/dist/index.umd.min.js
  "></script>
-->
  <script src="http://cdn.zuo11.com/lib/moment-with-locales.js"></script>
  <script src="http://cdn.zuo11.com/lib/react.production.min.js"></script>
  <script src="http://cdn.zuo11.com/lib/react-dom.production.min.js"></script>
  <script src="http://cdn.zuo11.com/lib/antd-with-locales.min.js"></script>
  <script src="http://cdn.zuo11.com/lib/antd.min.js"></script>
  <script src="http://cdn.zuo11.com/lib/ant-design-icons-4.8.0.index.umd.min.js"></script>
</body>
